html, body{
    height: 100vh;
 }
 *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 .container{
    display: grid;
    background-color: lightblue;
    height: 100%;
    grid-template: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%/ 20% 50% 30%;
    grid-template-areas: "header header header"
                         "sidebar navbar navbar"
                         "sidebar article article"
                         "sidebar article article"
                         "sidebar article article"
                         "footer footer footer"
 }
 .container>div{
    border: 1px solid;
    text-align: center;
 }
 .header{
   grid-area: header;
 }
 .sidebar{
   grid-area: sidebar;
 }
 .footer{
    grid-area: footer;
 }
 .nav{
   grid-area: navbar;
 }
 .article{
    grid-area: article;
 }