 html, body{
   min-height: 100vh;
   margin: 0;
   padding: 0;
 }
 *{
     box-sizing: border-box;
 }
 .container{
    display: grid;
    background-color: lightblue;
    resize: both;
    overflow: auto;
    height: 50rem;
    grid-template: repeat(6, min(50%, 1fr))/ repeat(3, 1fr);
    
 grid-template-areas: "header header header"
                         "sidebar navbar navbar"
                         "sidebar article article"
                         "sidebar article article"
                         "sidebar article article"
                         "footer footer footer";
                         
 }
 
 .container>div{
    border: 1px solid;
    text-align: center;
 }
 .header{
   grid-area: header;
 }
 .sidebar{
   grid-area: sidebar;
 }
 .footer{
    grid-area: footer;
 }
 .nav{
   grid-area: navbar;
 }
 .article{
    grid-area: article;
 } 